div(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky")#header
    nav.uk-navbar-container(uk-navbar="")
        .uk-navbar-center
            .uk-navbar-center-left
                ul.uk-navbar-nav
                    li
                        a(href="#about" uk-scroll) About Us
                    li
                        a(href="#summer" uk-scroll) Summerization
            img.uk-navbar-item.uk-logo(src="/images/logo.png" width="800px" height="100px")
            .uk-navbar-center-right
                ul.uk-navbar-nav
                    li
                        a(href="#winter" uk-scroll) Winterization
                    li
                        a(href="#contact" uk-scroll) Contact Us